body {
    background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17,0.04) 0%,
     rgba(17, 17, 17,0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(19deg, rgb(28, 117, 250),rgb(34, 2, 159)); 
    
}
/* the TIDRC box */
.box {
    background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%,rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%,rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%,rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%,rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%,rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%,rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%),
    linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%,rgb(223, 98, 196) 12.5%,
    rgb(223, 98, 196) 25%,rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%,rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%,rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%,rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%,rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%,rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
    width: 150px; 
    height: 120px;
    position: sticky;
    top:450px; 
    left : 50px ; 
    text-align: center;
    font-size: 28px;
    
    border-radius: 25px 50px;
    border-color: black; 
    
    border-style:solid;
    
    transition-property: transform ,width,height; 
    transition-duration: 2.5s;
    opacity: 0;
    animation:box2_ani; 
    animation-duration: 2s;
    animation-delay:3s; 
    animation-fill-mode: forwards;
}
/* the TIDRC box */
.box2{
    background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%,rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%,rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%,rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%,rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%,rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%,rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%),
    linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%,rgb(223, 98, 196) 12.5%,
    rgb(223, 98, 196) 25%,rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%,rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%,rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%,rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%,rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%,rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
    width: 190px; 
    height: 120px;
   
    position: fixed;
    top:350px ;
    left : 200px; 
    text-align: center ;

    font-size: 25px;
    border-radius: 25px 50px;
    border-color: black; 
    border-style:solid;
    transition-property: width,height; 
    transition-duration: 0.5s;
    opacity: 0;
    animation:box2_ani; 
    animation-duration: 2s;
    animation-delay:4s; 
    animation-fill-mode: forwards;
     
}
.box3{
    background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%,rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%,rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%,rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%,rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%,rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%,rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%),
    linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%,rgb(223, 98, 196) 12.5%,
    rgb(223, 98, 196) 25%,rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%,rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%,rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%,rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%,rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%,rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
    width: 150px; 
    height: 120px;
    position: absolute;
    top:600px ;
    left : 400px; 
    text-align: center;
    font-size: 20px;
    border-radius: 25px 50px;
    border-color: black; 
    border-style:solid;
    transition-property: width,height,opacity 0.5s ; 
    transition-duration: 2.5s;
     
}
.box4{
    background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%,rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%,rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%,rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%,rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%,rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%,rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%),
    linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%,rgb(223, 98, 196) 12.5%,
    rgb(223, 98, 196) 25%,rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%,rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%,rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%,rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%,rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%,rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
    width: 150px; 
    height: 120px;
    position: absolute;
    top:450px ;
    left : 400px; 
    text-align: center;
    font-size: 20px;
    border-radius: 25px 50px;
    border-color: black; 
    border-style:solid;
    transition-property: width,height,opacity 0.5s ; 
    transition-duration: 2.5s;
     
}
.box5{
    background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%,rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%,rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%,rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%,rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%,rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%,rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%),
    linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%,rgb(223, 98, 196) 12.5%,
    rgb(223, 98, 196) 25%,rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%,rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%,rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%,rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%,rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%,rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
    width: 150px; 
    height: 120px;
    position: absolute;
    top:290px ;
    left : 400px; 
    text-align: center;
    font-size: 20px;
    
    border-radius: 25px 50px;
    border-color: black; 
    border-style:solid;
    transition-property: width,height,opacity 0.5s; 
    transition-duration: 2.5s;
     
}
.box6{
    
    background-image: linear-gradient(90deg, transparent 0%, transparent 10%, #DB676C 10%, #DB676C calc(10% + 2px), transparent calc(10% + 2px), transparent 100%),
    linear-gradient(180deg, white 12%, transparent 12%), repeating-linear-gradient(180deg, #D7D7D9 0px, #D7D7D9 1px, transparent 1px, transparent 30px), linear-gradient(white,white);
    width: 550px; 
    height: 100px;
    position: relative;
    top:230px ;
    left :640px; 
    text-align: center;
    font-size: 20px;
    
    border-radius: 25px 50px;
    border-color: black; 
    border-style:solid;
    transition-property: width,height,opacity 0.5s; 
    transition-duration: 2.5s;
    margin:10px;
     
}
.box7{
    background-image: linear-gradient(90deg, transparent 0%, transparent 10%, #DB676C 10%, #DB676C calc(10% + 2px), transparent calc(10% + 2px), transparent 100%),
    linear-gradient(180deg, white 12%, transparent 12%), repeating-linear-gradient(180deg, #D7D7D9 0px, #D7D7D9 1px, transparent 1px, transparent 30px), linear-gradient(white,white);
    width: 550px; 
    height: 100px;
    position: relative;
    top:0px ;
    left : 640px; 
    text-align: center;
    font-size: 20px;
    
    border-radius: 25px 50px;
    border-color: black; 
    border-style:solid;
    transition-property: width,height,opacity 0.5s; 
    transition-duration: 2.5s;
    margin-top:10px;
}
.box8{
    background-image: linear-gradient(90deg, transparent 0%, transparent 10%, #DB676C 10%, #DB676C calc(10% + 2px), transparent calc(10% + 2px), transparent 100%),
    linear-gradient(180deg, white 12%, transparent 12%), repeating-linear-gradient(180deg, #D7D7D9 0px, #D7D7D9 1px, transparent 1px, transparent 30px), linear-gradient(white,white);
    width: 550px; 
    height: 100px;
    position: relative;
    top:-345px ;
    left : 640px; 
    text-align: center;
    font-size: 20px;
    margin:10px; 
    border-radius: 25px 50px;
    border-color: black; 
    border-style:solid;
    transition-property: width,height,opacity 0.5s; 
    transition-duration: 2.5s;
     
}
.box9{
    background-image: linear-gradient(90deg, transparent 0%, transparent 10%, #DB676C 10%, #DB676C calc(10% + 2px), transparent calc(10% + 2px), transparent 100%),
    linear-gradient(180deg, white 12%, transparent 12%), repeating-linear-gradient(180deg, #D7D7D9 0px, #D7D7D9 1px, transparent 1px, transparent 30px), linear-gradient(white,white);
    width: 550px; 
    height: 100px;
    position: relative;
    top:-345px ;
    left : 640px; 
    text-align: center;
    font-size: 20px;
    margin:10px; 
    border-radius: 25px 50px;
    border-color: black; 
    border-style:solid;
    transition-property: width,height,opacity 0.5s; 
    transition-duration: 2.5s;
     
}
#text{
    
    
    text-align: center bottom;
    color: black;
}
/* */
.container {
    color: white;
    font-family:Arial,Helvetica,sans-serif;
    margin: auto;

}
/* the title on the top of the page */
#title{
    
    color: white;
    text-align: center;
    height:100px; 
    
}
/* the header insdie the title */
#title h1 {
    
    font-size: 60px;
    line-height: 1.0; 
    position: relative;
    animation: title_ani;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
}
/* the text information in the middle */
#info {
    
    text-align:justify;
    font-size: 20px;
    padding-left: 200px;
    position: relative; 
    animation:info_ani; 
    animation-duration: 3s;
    animation-fill-mode: forwards; 
}
.button {
    
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    border:white 1px solid; 
    margin-top: 10px;
    position:relative;
    margin-left: 550px;
    text-align: center;
    opacity: 0;
    animation:button_ani; 
    animation-duration: 3s;
    animation-delay:3s; 
    animation-fill-mode: forwards;


}
.text2 {
    opacity: 0%;
    font-size: 14px; 
    color: black;
    transition-property:  opacity; 
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.text2:hover{
    opacity: 1;
}

.box:hover  {
    transform:rotate(360deg); 
    width:20%; 
    height:20%; 
    
    
} 

.box2:hover  {
   
   width:210px;
   
    
} 
/* This CSS calss is used to show and hide elemtns */
.hidden {
    opacity:0;

}
.box_effect{
    animation: box_reset; 
    animation-duration: 3s;
    animation-fill-mode: forwards; 

}
.box_effect2{
    width:210px;
    
}
.box_effect3{
    width:610px;
    font-size:25px; 
    
}

@keyframes box_reset {
    

   0% { 
    transform:rotate(20deg) }
    
    50% {transform:rotate(10deg) }
    
    50% {transform:rotate(0deg) }
}

@keyframes title_ani {
    0% {top:-100px}
    100% {top:10px}
    
}
@keyframes info_ani {
    0% {left:-1000px}
    100% {left:0px}
    
}
@keyframes button_ani {
    0% {opacity:0}
    100% {opacity:1}
    
}

@keyframes box2_ani {
    0% {opacity:0}
    100% {opacity:1}
    
}